@import "../../../assets/scss/colorVariables";
.breadcrumb {
  background-color: transparent;
  
  .breadcrumb-item {
    a {
      color: $gray-400;
    }

    + .breadcrumb-item {
      padding-left: 1.5rem;
      &::before {
        color: $gray-400;
        padding-right: 1.5rem;
      }
    }
  }

  &.active {
    color: $second-color;
  }
}